---
layout: main
title: 打字测试
---
{% assign lines = site.data.articles.lines %}


<div id="article">{% for line in lines%}{% assign line_arr = {{line | split:''}}%}{% assign line_id = {{forloop.index}}%}{% for k in line_arr %}<span id = "{{line_id}}_{{forloop.index}}">{{k}}</span>{% endfor %}<br/>{% endfor %}</div>

<textarea id="text"></textarea>

<table border="0">
    <tr>
        <td>总字数：</td>
        <td id="num">0</td>
    </tr>
    <tr>
        <td>退格数：</td>
        <td id="backNum">0</td>

    <tr>
        <td>花费时间：</td>
        <td id="times">0 秒</td>
    </tr>
    <tr>
        <td>打字速度：</td>
        <td id="speed">0 KPM</td>
    </tr>
</table>