<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/public/css/style.css">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="{{ site.baseurl }}/public/js/jquery.timers-1.1.2.js"></script>
  <script src="{{ site.baseurl }}/public/js/typing.js"></script>
  <title>{{ page.title }}</title>
</head>

<body>

<div class="header">
  <h1>打 字 速 度 测 试</h1>
</div>
